* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  color: #000;
}

.headerlogo {
  width: 100px;
}

.header-nav-list {
  display: flex;
}

a {
  text-decoration: none;
  color: #000;
}

.header-nav-list li {
  margin-right: 30px;
}

.firstview {
  position: relative;
  margin-bottom: 150px;
}

.firstviewmg{
  position: absolute;
  top: 10%;
  left: 15%;
}

.mg1 {
  font-family: 'Gorditas', cursive;
  font-size: 70px;
  color: #c71585;
  line-height: 150px;
}

.mg2 {
  font-family: 'Gorditas', cursive;
  font-weight: bold;
  font-size: 30px;
  color: #c71585;
  line-height: 50px;
}

.spanmg1 {
  color:#008080;
}

.credit{
  color: gray;
  line-height: 30px;
}

.firstviewimg {
  display: block;
  margin: 0 0 0 auto;
  width: 60%;
}

section {
  margin-top: 150px;
}

footer {
  margin-top: 80px;
}

.allcontent {
  margin: 0 auto;
}

.news {
  width: 700px;
  margin: 0 auto;
}

h2 {
  font-family: 'Gorditas', cursive;
  font-size: 15px;
  color: #c71585;
  margin-bottom: 20px;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  color: gray;
  margin-bottom: 30px;
}

.newsline{
  border-top: solid 3px gray;
  border-bottom: solid 3px gray;
  padding: 30px 0;
}

dl {
  display: flex;
  border-bottom: solid 1px gray;
  padding-bottom: 20px;
}

dl+dl {
  margin-top: 20px;
}

.category{
  color: #fff;
  margin: 0 20px;
  background-color: #c71585;
  border-radius: 20px;
  padding: 0 10px;
}

.about{
  background-color: #d3d3d3;
  width: 100%;
  padding: 30px 0;
}

.about h2{
  text-align: center;
}

.aboutheading {
  font-size: 30px;
  font-weight: bold;
  color: gray;
  margin-bottom: 30px;
  text-align: center;
}

.aboutcontent{
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto;
}

.aboutcontent div {
  width: 40%;
}

.aboutcontent div img {
  width: 100%;
}

.aboutcontent div p {
  line-height: 1.5;
  font-size: 15px;
}

.aboutcontent div p:nth-child(1){
  margin-bottom: 20px;
}

.service{
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.boxparent{
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 2fr 2fr;
}

.boxchild1 {
  grid-column: 1/2;
  grid-row: 1/4;
  background: #c71585;
  text-align: center;
  padding-top: 80px;
}

.boxchild1 p {
  margin: 15px 50px 0 50px;
  line-height: 1.5;
  font-size: 15px;
  color: #fff;
}

.boxchild1 p:nth-of-type(1) {
  font-weight: bold;
  color: #fff;
}

.boxchild1 img {
  width: 25%;
}

.boxchild2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background: #db7093;
  display: flex;
  padding: 30px 20px;
}

.boxchild2 p {
  margin: 15px 15px 0 15px;
  line-height: 1.5;
  font-size: 15px;
  color: #fff;
}

.boxchild2 div p:nth-child(1){
  font-weight: bold;
  color: #fff;
}

.boxchild2 img {
  width: 25%;
}

.boxchild3 {
  grid-column: 2/3;
  grid-row: 2/3;
  background: #bc8f8f;
  display: flex;
  padding: 30px 20px;
}

.boxchild3 p {
  margin: 15px 15px 0 15px;
  line-height: 1.5;
  font-size: 15px;
  color: #fff;
}

.boxchild3 div p:nth-child(1) {
  font-weight: bold;
  color: #fff;
}

.boxchild3 img {
  width: 25%;
}

.blog{
  background-color: #d3d3d3;
  width: 100%;
  padding: 30px 0;
}

.bloginner{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.cardallcontent{
  display: flex;
  justify-content: space-between;
}

.card {
  width: 300px;
  background-color: #fff;
  border-radius: 20px;
}

.imgphoto{
  position: relative;
    border-radius: 20px;
}

.card-category {
  position: absolute;
  font-size: 14px;
  color: #fff;
  background-color: #c71585;
  padding: 10px 20px;
  top: 0;
  left: 0;
  border-radius: 20px 0 0 0;
}

.card-img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card-content{
  margin: 20px 20px;
}

.card-content a {
  display: block;
}

.card-text {
  font-weight: bold;
  color: #888888;
  line-height: 1.5;
  font-size: 18px;
  padding-bottom:40px;
}

.others {
  display: flex;
  justify-content: space-between;
}

.hashtag {
  font-size: 14px;
  color: #888888;
}

.day {
  font-size: 14px;
  color: #888888;
}

.botton a{
  margin: auto;
  margin-top: 40px;
  display: block;
  width: 200px;
  background-color: #fff;
  border: 3px solid;
  border-color: #c71585;
  text-align: center;
  padding: 20px 0;
  border-radius: 30px;
  color: #c71585;
  font-weight: bold;
}

.companyinner {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.kaisha {
  text-align: left;
  width: 100%;
}

.kaisha th {
  border: 1px solid #ccc;
  padding-left: 10px;
}

.kaisha td {
  color: #888888;
  border: 1px solid #ccc;
  padding: 20px;
}

.kaisha th {
  color: #888888;
  font-weight: bold;
  background-color: #f5f5f5;
}

.lastcontent{

}

.lastcontetinner {
  display: flex;
  width: 100%;
}

.recruit {
  position: relative;
  width: 50%;
}

.recruit img {
  width: 100%;
}

.recruit p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  margin: auto;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.interview {
  position: relative;
  width: 50%;
}

.interview img {
  width: 100%;
}

.interview p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  margin: auto;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.info{
  width: 1000px;
  margin: 50px auto;
  text-align: center;
}

.info p {
  color: #888888;
  font-weight: bold;
}

.v_line_fix {
  margin-left: 100px;
  width: 3px;
  height: 50px;
  margin: 20px auto;
  background-color: #c71585;
}

.botton2{
  position: relative;
  display: inline-block;
  width: 200px;
  padding: 25px 25px;
  background: linear-gradient(90deg, #ff1493, #c71585);
  border-radius: 30px;
  box-shadow: 0 5px 0 rgba(255, 0, 0, 0.2);
  text-align: center;
  color: #fff;
}

.botton2 a{
  color: #fff;
}

.botton2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  transform: translateY(-50%);
}

footer {
  width: 1500px;
  background-color:#d3d3d3;
  text-align: center;
  padding: 30px 0;
  color: #888888;
}